<span style="background-color: #FFFF00">{{errorMessage}}</span>

<h4>Upload A File And Predict</h4>

<p-fileUpload name="myfile[]"
              url="api/upload"
              multiple="false"
              accept="image/*" 
              maxFileSize="10000000"
              uploadLabel="Predict"
              (onSelect)="onSelect($event)"
              (onUpload)="onUpload($event)">
    <ng-template pTemplate type="content">
        <div *ngIf="(showPredictedImage)">
            <img [src]="PredictedImage" *ngIf="(PredictedImage != '')" [width]="600" />
            <p-dataTable [value]="this.CustomVisionResponse.predictions">
                <p-column field="tag" header="Tag"></p-column>
                <p-column field="probability" header="Probability"></p-column>
            </p-dataTable>
        </div>
    </ng-template>
</p-fileUpload>